fastapi
python-dotenv
uvicorn[standard]
sqlalchemy
pandas
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
email-validator
httpx
psycopg2-binary
alembic
python-dateutil
python-multipart
scikit-learn
joblib
bcrypt<4.0.0
pytest
pytest-asyncio
slowapi
google-genai
